
*.pyc
config_files/config_file.ini
config_files/config_file.ini
*.pyc
*.log
outputfiles/SavePdToFileconfidence_90_per_cent.csv
outputfiles/SavePdToFileconfidence_90_per_cent_metrics_critical.csv
outputfiles/SavePdToFileconfidence_90_per_cent_metrics.csv
outputfiles/SavePdToFileconfidence_95_per_cent_metrics.csv
outputfiles/SavePdToFileconfidence_99_per_cent.csv
outputfiles/SavePdToFileconfidence_99_per_cent_metrics_critical.csv
outputfiles/SavePdToFileconfidence_99_per_cent_metrics.csv
outputfiles/SavePdToFileconfidence_95_per_cent_metrics_critical.csv
outputfiles/SavePdToFileconfidence_95_per_cent.csv
